<!doctype html>
<script src={{ url_for('static', filename='jquery-3.2.1.min.js') }}></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<title>HLA Imputation using 23andMe data</title>

<h1>HLA Imputation using 23andMe data</h1>
<p>This website uses <a href='https://github.com/zhengxwen/HIBAG'>HIBAG</a> [1] and associated pre-trained models to impute your class I <a href='https://en.wikipedia.org/wiki/Human_leukocyte_antigen'>HLA type</a> from your 23andMe <a href="https://you.23andme.com/tools/data/download/">raw data file.</a></p>

<p>The HLA proteins are encoded by the MHC region on chromosome 6. The method used here relies on a machine learning technique which is not as accurate as traditional HLA typing. This website is for entertainment only, please do not use the results for anything serious. </p>

<p>If you don't have a 23andme genome available you can download one <a href="{{ url_for('static', filename='23andme_raw_data.txt')}}" download>here</a></p>

[1] Zheng, X. et al. <a href="http://dx.doi.org/10.1038/tpj.2013.18">HIBAG-HLA genotype imputation with attribute bagging.</a> <i>Pharmacogenomics Journal</i> 14, 192-200 (2014). 


<hr>
<h2>Upload your 23andMe raw data file here</h2>
<form method=post name='uploadform' enctype=multipart/form-data>
  <p><input type=file name=file></p>
  <p>
    Ethnicity: <select name='ethnicity'>
        <option>European</option>
        <option>Asian</option>
        <option>Hispanic</option>
        <option>African</option>
    </select>
</p>
</form>
<button value=Upload onclick="$('#uploadflash').show(500, function(){$('form').submit()})">Impute my HLA</button>

<div class=flash style="display: none;" id="uploadflash">Uploading your genome. This may take a minute.</div>

{% for message in get_flashed_messages() %}
  <div class=flash>{{ message }}</div>
{% endfor %}

